#main-div {
    padding-top: 60px;
}

#my_search {
    width: 300px;
}

.search-container {
    width: 200 px;
}

.hotels-table-container table {
    width: 50%;
}

.hotels-table-container img {
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.hotels-table-container td {
    text-align: center;
    width: 40%;
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
}

.hotels-table-container:focus {
    outline: 0;
}

.active-row {
    border: 3px solid orange;
}

.rows-after {
    background-color: lightblue;
}

#map {
    width: 100%;
    height: 400px;
}

.img-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px;
}

.boxed-img {
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.gallery-container {
    width: 690px;
}

.zoom:hover {
    transition: transform .3s;
    transform: scale(1.5);
}

.rotate-left:hover {
    transition: transform .3s;
    transform: rotate(-40deg) scale(1.5);
}

.rotate-right:hover {
    transition: transform .3s;
    transform: rotate(40deg) scale(1.5);
}

.prize-table tr:nth-child(2n) {
    background-color: gainsboro;
}


.prize-table tr:nth-child(5n):nth-child(odd) {
    background-color: lightblue;
}

.prize-table tr:nth-child(5n):nth-child(even) {
    background-color: lightyellow;
}
