.hotels-table-container img {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
}

.hotels-table-container td {
    text-align: center;
    width: 70%;
    border: 1px solid black;
    border-collapse: collapse;
}

.active-row {
    border: 3px solid orange;
}

.rows-after {
    background-color: lightblue;
}

.hotels-table-container:focus {
    outline: 0;
}
